*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

section {
    padding: 5rem 10%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: rgb(60,48,62);
    background: linear-gradient(0deg, rgba(60,48,62,1) 0%, rgba(35,40,51,1) 35%, rgba(57,63,81,1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 5%;
    background: rgb(35,40,51);
    background: linear-gradient(180deg, rgba(35,40,51,1) 0%, rgb(27, 27, 27) 100%);
}

.logoText {
    color: #f0f8ff;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
}

.headerNav {
    list-style: none;
}

.headerNav li {
    display: inline-block;
    padding: 0 30px;
}

.headerNav li a {
    font-weight: 500;
    font-size: 25px;
    color: #62EBFE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.headerNav li a:hover {
    color: #FE84FD;
    font-size: 30px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.articleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.articleHeader h1 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #f0f8ff;
    text-decoration: none;
}

.articleHeader h2 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #f0f8ff;
    text-decoration: none;
}

.article .articleContainer {
    width: 100%;
    gap: 2rem;   
}

.article .articleContainer .articleBox .articleVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article .articleContainer .articleBox .articleImage{
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.article .articleContainer .articleBox .articleImage img{
    height: 60%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; 
    
}

.article .articleContainer .articleBox .articleFullImage{
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.article .articleContainer .articleBox .articleFullImage img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; 
    
}

.article .articleContainer .articleBox .articleContent p {
    font-weight: 500;
    font-size: 1.5rem;
    color: #f0f8ff;
    text-decoration: none;
}

.article .articleContainer .articleBox .articleContent a {
    font-weight: 500;
    font-size: 1.5rem;
    color: #62EBFE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.article .articleContainer .articleBox .articleContent a:hover {
    color: #FE84FD;
    font-size: 2rem;
}
